h1{
font-size: 50px;
text-align: Center;
color: #032EFE
}

h2{
font-size: 30px;
text-align: left;
color: #032EFE
}

h3{
font-size: 30px;
text-align: left;
color: #032EFE
}

h4{
font-size: 30px;
text-align: left;
color: #032EFE
}

p{
font-size: 20px;
text-align: left;
font-family: Helvetica, sans-serif;
}

body {
background-color: #007471;
}